$primary: #007474;
$secondary: #647373;
$success: #28c76f;
$info: #00cfdd;
$warning: #ff9f43;
$danger: #ea5455;
$light: #f0ffff;
$dark: #22292f;

/* You can add global styles to this file, and also import other style files */

@use "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}
